[Unit]
Description=Linux kernel CIFS/SMB SERVER
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/modprobe ksmbd
ExecStart=/usr/sbin/ksmbd.mountd -s
ExecStop=/usr/sbin/ksmbd.control -s

[Install]
WantedBy=multi-user.target
