[Unit]
Description=Real-time web log analyzer
After=network.target

[Service]
Type=simple
User=goaccess
Group=goaccess
Restart=always
ExecStart=/usr/bin/goaccess --real-time-html -p /etc/goaccess/goaccess.conf -o /var/lib/goaccess/goaccess.html -l /var/log/goaccess/goaccess.log
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
